body {
    background-color: rgb(63, 73, 76);
    color: #add8e6;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.banner {
    position: relative;
    text-align: center;
}

.banner img, .img-fluid {
    width: 100%;
    height: auto;
}

.banner-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.image-item {
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    background-color: rgb(58, 80, 58);
}

.navbar .nav-link {
    color: rgb(44, 47, 57);
}

.navbar .nav-link:hover {
    color: #275254;
}
.carousel-item {
    height: 200px; /* Adjust this value as needed */
}

.reel-image {
    object-fit: cover;
}