.body {
    font-family: 'corrier new', Courier, monospace;
    background-color:rgb(117, 85, 147);
}
.banner {
    position: relative;
    text-align: center;
}

.banner img {
    width: 100%;
    height: auto;
}

.banner-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.image-item {
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
    display: flex;
}
.text-center {
    text-align: center;
}
