/* Banner(s) */
body {
    background-color: rgb(58, 61, 58);
    color: rgb(185, 221, 191);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.banner {
    position: relative;
    text-align: center;
}

.banner img {
    width: 100%;
    height: auto;
}

.banner-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.banner-img {
    width: 100%;
    height: auto;
}

/* Images */
.img-fluid {
    max-width: 100%;
    height: auto;
}

.nav-item {
    list-style: none;
}