/* Banner(s) */
.banner {
    position: relative;
    text-align: center;
}

.banner img {
    width: 100%;
    height: auto;
}

.banner-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.banner-img {
    width: 100%;
    height: auto;
}
/* Images */
.img-fluid {
    max-width: 100%;
    height: auto;
}
.nav-item {
    list-style: none;
}
.text-center {
    text-align: center;
}
.font-style {
    font-family: 'corrier new', Courier, monospace;
}